<div class="login-wrapper">
  <canvas id="bg-canvas"></canvas>

  <div class="login-card" role="form" aria-labelledby="login-title">
    <h2 id="login-title">OMINOD</h2>
    
    <div class="input-group">
      <input
        type="text"
        id="username"
        [(ngModel)]="username"
        placeholder=" "
        required
        aria-required="true"
      />
      <label for="username">Nome</label>
    </div>

    <button
      (click)="login()"
    >
      <span >Jogar</span>
    </button>
  </div>
</div>
